
* {
  font-family: Raleway!important;
}
body {
  background-color: #e7e7e7;
}
/* header */
.navbar {
  width: 100%;
}

.margin_top {
  margin-top: 6rem;
}


.bg-light {
 background-color: white!important;
}


.collapse {
  justify-content: center;
}

.margin_left {
margin-left: 5rem;
}

.margin_right {
margin-right: 5rem;
}

.nav-item {
  font-size: 20px;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(147, 147, 147);
}

.nav-item span {
  color: lightgrey;
  font-size: 10px;
  vertical-align: 2px;
}

.img_logo {
  height: 50px;
}


.header_bottom {
  background-image: url(../img/150575.jpg);
  background-size: cover;
  height: 80vh;
  background-position: bottom;
  display: flex;
  position: relative;
}

.h3_header_bottom {
  color: white;
  font-weight: bold;
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 75px;
}

.header_serch {
  background-color: white;
  position: absolute;
  top: 87%;
  height: 175px;
  width: 60%;
  display: flex;
  left: 19%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.search_item {
  display: flex;
  flex-direction: row;
  width: 200px;
  color: grey;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.search_item:first-child {
  color: black;
  border-bottom: 1px solid grey;
}

.style_arrow {
  background-color: #ff002d;
  color: white;
  font-size: 40px;
  border-radius: 30px;
  padding: 8px;
  margin-right: 22px;
}
/* /header */


/* section Vacations */
#vacations {
  margin-top: 10rem;
}
.cont_style {
  width: 74%;
  display: flex;
  justify-content: space-around;
}
.h3_vacations {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.text-center span {
  font-size: 10px;
  vertical-align: 2px;
}

.card-body {
  position: absolute;
  bottom: 8%;
  left: 11%;
  background-color: white;
  width: 80%;
  height: 6rem;
}

.card-text {
  border: 1px solid lightgrey;
  padding: 16px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

/* Holiday */

h4 {
  text-align: left;
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}
.holidays_p {
  text-align: left;
  padding: 20px;
  font-weight: bold;
  color: #5b5757
}

.icons_holiday {
  display: flex;
  padding-left: 20px;
  align-items: end;
}

.icons_holiday svg {
  width: 30px;
}

.icons_holiday p {
  margin-left: 13px;
  font-weight: bolder;
  font-size: 16px;
}
.p_umbrella {
  background-color: #443d3d;
  color: white;
  padding: 3px;
}

.button_holiday {
  background-color: #ff002d;
  border-radius: 26px;
  color: white;
  text-align: center;
  height: 43px;
  width: 130px;
  padding: 8px;
  margin-left: 20px;
  cursor: pointer;
}
