
* {
  font-family: Raleway!important;
}
body {
  background-color: #e7e7e7;
}
/* header */
.navbar {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 100;
  transition: background-color 0.4s ease-out;
}
.sfondo1 {
  background-color: white;
}
.sfondo2 {
  background-color: #2bc44f;
  background-image: linear-gradient(45deg, #29773b, #00ff3aad);
}
.margin_top {
  margin-top: 6rem;
}
.menu {
  margin: 0 20px 0 0;
  padding-left: 3.25em;
  cursor: pointer;
  position: relative;
  width: 42px;
  height: 42px;
  text-align: right;
  display: none;
}

.menu-close {
  font-size: 0em;
  opacity: 0;
  text-align: center;
  font-weight: bold;

  -webkit-transition: 0.2s;
          transition: 0.2s;
}

.menu-close-visible {
  font-size: 2em;
  opacity: 1;

  -webkit-transition: 0.2s 0.4s;
          transition: 0.2s 0.4s;
}

.menu-global {
  z-index: -1;
  position: absolute;
  left: 0;
  height: 10px;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.2s;
          transition: 0.2s;
}
.global1 {
  background-color: #6f8f0c!important;
}
.global2 {
  background-color: white;
}

.menu-global:hover {
  left: 10px;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

.menu-top {
  top: 0;
}
.menu-middle {
  top: 18px;
}
.menu-bottom {
  top: 36px;
}

.menu-text{
  opacity: 0;
  font-size: 0em;
  padding: 10px 0;
  -webkit-transition: 0.1s;
          transition: 0.1s;
}

.expand {
  box-shadow: rgba(0, 0, 0, 0.1) -2.5px 5px 7.5px, rgba(0, 0, 0, 0.1) 2.5px 5px 7.5px;
  width: 200px;
  height: 50px;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.menu-top-expand {
  top: 50px;
  background: #277f3b;

  -webkit-transition: all 0.5s 0.2s, left 0.1s;
          transition: all 0.5s 0.2s, left 0.1s;
}

.menu-middle-expand {
  top: 100px;
  background:  #277f3b;

  -webkit-transition: all 0.5s 0.1s, left 0.1s;
          transition: all 0.5s 0.1s, left 0.1s;
}

.menu-bottom-expand {
  top: 150px;
  height: 40px;
  background:  #277f3b;

  -webkit-transition: all 0.5s, left 0.1s;
          transition: all 0.5s, left 0.1s;
}

.menu-text-expand{
  color: white;
  font-weight: bold;
  opacity: 0.8;
  padding: 10px;
  font-size: 1.3em;
  -webkit-transition: all 0.2s 0.7s, font-size 0.1s;
          transition: all 0.2s 0.7s, font-size 0.1s;
}

.bg-light {
 background-color: white!important;
}


.collapse {
  justify-content: center;
}

.margin_left {
margin-left: 5rem;
}

.margin_right {
margin-right: 5rem;
}

.nav-item {
  font-size: 20px;
  cursor: pointer;
}

.color_text{
  color: rgb(147, 147, 147);
}
.color_text2{
  color: white!important;
}

.nav-item span {
  color: lightgrey;
  font-size: 10px;
  vertical-align: 2px;
}

.img_logo {
  height: 50px;
}


.header_bottom {
  background-image: url(../img/150575.jpg);
  background-size: cover;
  height: 80vh;
  background-position: top;
  display: flex;
  position: relative;
}

.h3_header_bottom {
  color: white;
  font-weight: bold;
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 75px;
}

.header_serch {
  background-color: white;
  position: absolute;
  top: 87%;
  height: 175px;
  width: 60%;
  display: flex;
  left: 19%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.search_item {
  display: flex;
  flex-direction: row;
  width: 235px;
  color: grey;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.search_item:first-child {
  color: black;
  border-bottom: 1px solid grey;
}

.style_arrow {
  background-color: #ff002d;
  color: white;
  font-size: 40px;
  border-radius: 30px;
  padding: 8px;
  margin-right: 22px;
}



/* /header */


/* section Vacations */
#vacations {
  margin-top: 10rem;
}
.cont_style {
  width: 74%;
  display: flex;
  justify-content: space-around;
}
.h3_vacations {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.text-center span {
  font-size: 10px;
  vertical-align: 2px;
}
.flex {
  display: flex;
}
.card-body {
  position: absolute;
  bottom: 8%;
  left: 11%;
  background-color: white;
  width: 80%;
  height: 6rem;
}

.card-text {
  border: 1px solid lightgrey;
  padding: 16px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}


/* Holiday */

h4 {
  text-align: left;
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}
.holidays_p {
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  color: #5b5757
}

.icons_holiday {
  display: flex;
  padding-left: 20px;
  align-items: end;
  font-size: 20px;
}
.img_bm {
  flex-direction:row;
  position: absolute;
  bottom: 0;
}
.icons_holiday svg {
  width: 30px;
}

.icons_holiday p {
  margin-left: 13px;
  font-weight: bolder;
  font-size: 16px;
}
.p_umbrella {
  background-color: #443d3d;
  color: white;
  padding: 3px;
}

.button_holiday {
  background-color: #ff002d;
  border-radius: 26px;
  color: white;
  text-align: center;
  height: 43px;
  width: 130px;
  padding: 8px;
  margin-left: 20px;
  cursor: pointer;
}

/* /holiday */

/* Services */
.icons_services {
  background-color: #058934;
  height: 104px;
  border-radius: 60px;
  width: 110px!important;
  padding: 30px;
  color: white;
  background-image: linear-gradient(45deg, #31df57, #1b7a38);
}

.text_services {
  color: #2a2a2a;
}

/* concact */

.back_contact {
  background-image: url(../img/5.jpg);
  background-size: cover;
  height: 80vh;
  transform: scaleX(-1);
  background-position: center;
}

.form {
  background-color: white;
  height: 500px;
  width: 500px;
  position: absolute;
  bottom: 0;
  left: 10%;
  transform: scaleX(-1);
}

.form h4 {
  padding-left: 70px;
  font-weight: bold;
  font-size: 30px;
  padding-top: 34px;
  padding-bottom: 34px;
}

.d-flex input {
  margin-bottom: 40px;
  border: 0;
  border-bottom: 1px solid lightgrey;
}

.button_contact {
  background-color: #ff002d;
  border-radius: 26px;
  color: white;
  text-align: center;
  height: 48px;
  width: 130px;
  padding: 8px;
  margin-top: 70px;
}
/* /contact */


/* footer */
footer {
  background-color: #0c0c0c;
  padding-top: 60px;
}
.style_footer {
  height: 270px;
  color: white;
}

.style_footer .row .col-2 {
  display: flex;
  flex-direction: column;
}

/* RESPONSIVE */
@media screen and (max-width:1346px) {
  .margin_right {
    margin-right: 2rem;
  }
  .margin_left {
    margin-left: 2rem;
  }
}


@media screen and (max-width: 1200px) {
  footer {
    font-size: 12px;
  }
  footer h5 {
    font-size: 15px;
  }
}




@media screen and (max-width: 991px) {
  .button_holiday {
    font-size: 18px;
  }
  .holidays_p {
    font-size: 17px;
  }
  .h3_header_bottom {
    font-size: 30px;
  }
  .menu {
    display: block;
    list-style: none;
  }
  .header_serch {
    top: 70%;
    height: 258px;
    width: 70%;
    left: 13%;
  }
  .card {
    margin-bottom: 15px;
  }
  .card-body {
    height: 7rem;
  }
  .cont_style {
    display: flex;
  }
  .flex {
    display: contents!important;
  }
  .img_resp {
    width: 100%!important;
  }
  .padding_bottom {
    width: 100%!important;
    font-size: 24px;
  }
  .img_bm {
    display: none!important;
  }
  .padding_bottom {
    margin-bottom: 20px;
  }
  footer {
    font-size: 12px;
  }
  footer h5 {
    font-size: 10px;
  }
  .style_footer {
    width: 100%!important;
    font-size: 9px;
  }
  .form {
    height: 471px;
    width: 280px;
  }

}
